html, body, #root {
  height: 100%;
}

.mapboxgl-map {
  display: inline-block;
  margin: 0;
}

.list {
  display: inline-block;
  width: calc(20% - 1px);
  height: inherit;
  overflow-y: scroll;
}

.list-item {
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: 0 0 2px #eee;
  margin: 5px;
  padding: 10px;
}

.list-item:hover {
  border-color: #777;
  box-shadow: 0 0 5px #ccc;
}

.circle-marker {
  text-align: center;
  border-radius: 50%;
  opacity: 0.6;
}
