html, body, #root {
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  display: inline-block;
  height: 100%;
  width: 70%;
  margin: 0;
}

.list {
  display: inline-block;
  width: 30%;
  height: inherit;
  overflow-y: scroll;
}
.list-el {
  border: 1px solid brown;
  border-radius: 12px;
  box-shadow: 2px 2px 2px #eee;
  margin: 5px;
  padding: 10px;
}

/* .marker {
  transition: fill 3s ease-out
}

.marker .big{
  fill: red
} */
